@font-face {
    font-family: 'Poppins-Medium';
    src: url('/src/fonts/Poppins-Medium.woff2') format('woff2'),
        url('/src/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('/src/fonts/Poppins-Light.woff2') format('woff2'),
        url('/src/fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('/src/fonts/Poppins.woff2') format('woff2'),
        url('/src/fonts/Poppins.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('/src/fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('/src/fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('/src/fonts/Poppins-Regular.woff2') format('woff2'),
        url('/src/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}