@use "/src/components/variables" as styles;
.container{
    width: 900px;
    margin: 0 0 auto ;
    margin-left: 240px;
    
   

    .row{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        margin-top: 30px;
        >div{
            display: flex;
            align-items: center;
            div{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: red;
            }
            .pr-1{
                background-color: styles.$pr-main-color;
            }
            .pr-2{
                background-color: styles.$pr-color-2;
            }
            .pr-3{
                background-color: styles.$pr-color-3;
            }
            .pr-4{
                background-color: styles.$pr-color-4;
            }

            .l1-1{
                background-color: styles.$light-1-main-color;
            }
            .l2-1{
                background-color: styles.$light-2-main-color;
            }
            .l3-1{
                background-color: styles.$light-3-main-color;
            }

            .l1-2{
                background-color: styles.$light-1-pr2-color;
            }
            .l2-2{
                background-color: styles.$light-2-pr2-color;
            }
            .l3-2{
                background-color: styles.$light-3-pr2-color;
            }
            
            .l3-3{
                background-color: styles.$light-3-pr3-color;
            }
            .l2-3{
                background-color: styles.$light-2-pr3-color;
            }
            .l1-3{
                background-color: styles.$light-1-pr3-color;
            }

            .l1-4{
                background-color: styles.$light-1-pr4-color;
            }
            .l2-4{
                background-color: styles.$light-2-pr4-color;
            }
            .l3-4{
                background-color: styles.$light-3-pr4-color;
            }

            .d1-1{
                background-color: styles.$dark-1-main-color;
            }
            .d2-1{
                background-color: styles.$dark-2-main-color;
            }
            .d3-1{
                background-color: styles.$dark-3-main-color;
            }
             .d3-3{
                background-color: styles.$dark-3-pr3-color;
            }

            .d1-2{
                background-color: styles.$dark-1-pr2-color;
            }
             .d1-3{
                background-color: styles.$dark-1-pr3-color;
            }
            .d2-2{
                background-color: styles.$dark-2-pr2-color;
            }
             .d2-3{
                background-color: styles.$dark-2-pr3-color;
            }
            .d3-2{
                background-color: styles.$dark-3-pr2-color;
            }

            .d1-4{
                background-color: styles.$dark-1-pr4-color;
            }
            .d2-4{
                background-color: styles.$dark-2-pr4-color;
            }
            .d3-4{
                background-color: styles.$dark-3-pr4-color;
            }
            
        }
    }
}




.row-2{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        margin-top: 30px;
        >div{
            display: grid;
            align-items: center;
            div{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 15px;
                position: relative;
                left: 800px;
                top:-575px;
            }
    
.colorik-1{     
    width: 50px;          
    height: 50px;         
    border-radius: 50%;       
    background-color:styles.$pr-color-5;
           
}

.colorik-2{     
    width: 50px;          
    height: 50px;         
    border-radius: 50%;       
    background-color:styles.$pr-color-6;
           
}

.colorik-3{     
    width: 50px;          
    height: 50px;         
    border-radius: 50%;       
    background-color: styles.$pr-color-7;
           
}
.colorik-4{     
    width: 50px;          
    height: 50px;         
    border-radius: 50%;       
    background-color: styles.$pr-color-8;
           
    }
  }
}



.container h1 {
    margin:0 auto;
}
.left {
     position: relative;
     top:100px;
     width: 554px;
     margin-bottom: 145px;           
                
}


.btn-group{
    grid-column-gap: 10px;
}


.list-2 {
    width: 590px;
    border: 1px solid transparent; 
    transition: border-color 0.3s;
}

.list-2:hover {
    width: 590px;
    color:#fff; 
    background-color: styles.$pr-main-color;
    font-family: 'Poppins-Medium';
}




* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: start;
}

.label:hover:active {
  display: inline-block;
  background: #e5e5e5;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  margin-bottom: 6px;
}

.input {
  width: 100%;
  padding: 16px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  font-size: 14px;
}

.input.hover:hover,
.dropdown.hover:hover {
  border-color: #999;
}

.input.active,
.dropdown.active:active {
  border: 2px solid styles.$pr-color-9;
}

.input.success {
  border: 2px solid styles.$pr-color-10;
  color: styles.$pr-color-10;
  display: flex;
  justify-content: space-between;
}

.input:hover.error:hover {
  border: 2px solid styles.$pr-color-11;
  color: styles.$pr-color-11;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 1px solid styles.$pr-color-12;
  border-radius: 4px;
  cursor: pointer;
}

.arrow {
  font-size: 12px;
}

.dropdown-menu {
  border: 1px solid styles.$pr-color-12;
  border-top: none;
}

.dropdown-menu div {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-menu div:hover {
  background: styles.$pr-color-13;
}

.dropdown-menu .selected {
  background: styles.$pr-color-14;
}


.counter {
  display: flex;
  border: 1px solid styles.$pr-color-12;
  border-radius: 6px;
  overflow: hidden;
}

.counter button {
  width: 40px;
  border: none;
  background: styles.$pr-color-13;
  font-size: 18px;
  cursor: pointer;
}

.counter span {
  flex: 1;
  text-align: center;
  padding: 14px 0;
}

.controls {
  margin-top: 30px;
  display: flex;
  gap: 25px;
}

.controls label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.controls .hovered {
  color: styles.$pr-color-9;
}

.controls .selected {
  color: styles.$pr-color-9;
  font-weight: bold;
}

.controls .disabled {
  opacity: 0.4;
}


h2 {
  margin-bottom: 30px;
}

.section {
  margin-bottom: 40px;
}

.row {
  display: grid;
  grid-template-columns: 120px repeat(5, 1fr);
  gap: 24px;
  align-items: center;
  margin-bottom: 16px;
}

.state {
  color: styles.$pr-color-12;
  font-size: 14px;
}


.btn {
  height: 48px;
  border-radius: 0;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}


.btn1 { 
    background: styles.$pr-color-15; 
    color:styles.$light;
}
.btn2 {
     background: styles.$pr-color-16; 
     color:styles.$light;
    }
.btn3 { 
    background: styles.$pr-color-17; 
    color:styles.$light;
}

.btn4 {
  background: styles.$pr-color-18;
  color:styles.$light;
}

.btn5 {
  background: styles.$pr-color-19;
  color: styles.$pr-color-16;
}


.outline-orange {
  background: styles.$light;
  color: styles.$pr-color-18;
  border: 2px solid styles.$pr-color-18;
}

.outline-blue {
  background: styles.$light;
  color: styles.$pr-color-16;
  border: 2px solid styles.$pr-color-16;
}


.row:hover .btn1 { 
    background: styles.$pr-color-20; 
}
.row:hover .btn2,
.row:hover .btn3,
.row:hover .btn5 { 
    background: styles.$pr-color-19; 
    color:styles.$light;
}

.row:hover .btn4 {
  background: styles.$pr-color-21;
  color:styles.$light;
}


.disabled {
  background: styles.$pr-color-22;
  color:styles.$light;
  cursor: not-allowed;
  border: none;
}



h2 {
  margin-bottom: 40px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-bottom: 50px;
}

.title {
  color: #9e9e9e;
  font-size: 14px;
  margin-bottom: 12px;
}

.pagination {
  display: flex;
  gap: 12px;
  align-items: center;
}

.pagination span {
  color: #9e9e9e;
  cursor: pointer;
}

.pagination .active {
  width: 28px;
  height: 28px;
  background: #00a3ff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots {
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #bdbdbd;
  border-radius: 50%;
}

.dot.active {
  background: #00a3ff;
}


.popup {
  width: 380px;
  border: 1px solid #dcdcdc;
  padding: 20px;
  font-size: 14px;
  line-height: 1.6;
  background: #fff;
}

.social-row {
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
  font-weight: bold;
}

.social-row.gray span {
  color: #9e9e9e;
}

.social-row.color .fb { 
  color: #1877f2; 
}
.social-row.color .tw { 
  color: #1da1f2; 
}
.social-row.color .pt { 
  color: #e60023; 
}
.social-row.color .gp { 
  color: #db4437; 
}

.social-block {
  background: #00a3ff;
  padding: 20px;
  margin:50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  justify-self:end;
  margin-top: -200px;
  height: fit-content;
  
}



.circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.circle.dark {
  background: rgba(0,0,0,0.15);
}

.fb { }
.tw { }
.pt { }
.gp { }